.page {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 20px 1fr 20px; */
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  /* padding: 80px; */
  /* gap: 64px; */
  font-family: var(--font-geist-sans);
  color: #fefefe;
}

.main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: calc(1.5rem + 75px);
  padding-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 1252px;
}

.mainExample {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  flex: 1;
  height: 100%;
  /* flex-direction: column;
  gap: 32px;
  grid-row-start: 2; */
}

.mainExample .guess {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  /* padding-right: 2em; */
}

.mainExample h2 {
  font-size: 3em;
  padding-bottom: 1rem;
  max-width: 500px;
}

.lightGreenTxt {
  color: var(--light-green);
  filter: brightness(110%);
}

.mainExample .greenContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  font-size: 1.25em;
  line-height: 20px;
  font-weight: 500;
}

.greenContainer {
  border-radius: 1em;
  padding: 1.5rem;
  background-color: var(--green);
}

.mainExample .video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 0.25em;
}

.mainExample .video h3 {
  font-size: 1.5em;
}

.mainExample .mainImage,
.greenContainer .mainImage {
  /* flex: 2; */
  display: flex;
  width: 100%;
  aspect-ratio: 16 / 9;
  padding-bottom: 0.5em;
}

.mainExample .mainImage div,
.greenContainer .mainImage div {
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  border-radius: 1em;
  aspect-ratio: 16 / 9;
}

.mainExample a,
.mainExample button,
.greenContainer button {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 2px solid transparent;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    filter 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}


.mainExample .video a {
  margin-top: .25em;
}

.cleanButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a.primary,
button.primary {
  background: var(--darker-green);
  color: var(--white);
  gap: 4px;
}

a.secondary,
button.secondary {
  background-color: var(--dark-green);
  border-color: var(--green);
  color: var(--white);
  min-width: 180px;
}

.hide,
.hide:hover {
  background: transparent;
  border-color: transparent;
  border: 0px;
  cursor: default;
  width: 0;
  min-width: 0;
  padding: 0;
  visibility: hidden;
}

.emoji {
  font-size: 1.5em;
}

.play {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  margin-top: 2rem;
}

.playItem {
  height: 180px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/background.png);
  border-radius: 16px;
}

.playItem>div {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  background-color: rgba(0, 33, 29, .8);
  border-radius: 16px;
}

.playItem h3 {
  font-size: 2rem;
}

.playItem>div:hover {
  background-color: rgba(0, 0, 0, .6);
}

.main>.greenContainer {
  margin-top: 2em;
  padding-top: 0.75em;
  width: 100%;
  max-width: 820px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.main>.greenContainer h2 {
  text-align: center;
  font-size: 2em;
  align-self: center;
}

.main>.greenContainer .instructions {
  display: grid;
  gap: 1em 1.5rem;
  grid-template-columns: 1fr 1fr;
  padding-top: 1em;
}

.main>.greenContainer div div {
  width: 100%;
  flex: 1;
}

.main>.greenContainer .instructions .step {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main>.greenContainer .instructions .step>span {
  margin-bottom: 1em;
}

.main>.greenContainer .instructions .step button {
  margin-top: 1em;
  width: 100%;
}

.main>.greenContainer .instructions .step>fieldset {
  padding-top: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main>.greenContainer .instructions .step>fieldset>div {
  flex: 0;
}

.main>.greenContainer .instructions .step>div {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.main>.greenContainer .instructions .step .mainImage {
  /* margin-left: 1em; */
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 0;
  width: calc(100% - 1em);
}


.main>.greenContainer .instructions h3 {
  font-weight: 500;
}

.faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 820px;
  align-self: center;
}

.faq>div {
  background: var(--green);
  color: #fefefe;
  padding: 0 0.5em;
}

.main>.faq h2 {
  text-align: center;
  font-size: 2em;
  align-self: center;
  padding-bottom: .5em;
}

.main>.faq h3 span {
  font-size: 1.5em;
  line-height: 1.5em;
}

.main>.faq ul {
  padding-left: 2rem;
  padding-right: 1.5em;
}

.main>.faq .faqDetails {
  padding-bottom: 2em;
}

.main>.faq .faqDetails p {
  text-align: justify;
  text-indent: 2em;
}

.main>.faq .faqDetails a {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-top: 1px solid var(--green);
  width: 100%;
}


.footer>div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer a {
  display: flex;
  align-items: center;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

  a.primary:hover,
  button.primary:hover {
    background: var(--button-primary-hover);
    /* filter: brightness(80%); */
    border-color: transparent;
  }

  a.secondary:hover,
  button.secondary:hover {
    /* background: var(--button-secondary-hover); */
    background-color: var(--green);
    color: var(--white);
    border-color: transparent;
  }

  .faq a:hover,
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}


@media (max-width: 1100px) {
  .mainExample h2 {
    font-size: 2.5em;
    padding-bottom: 1rem;
    max-width: 500px;
  }

  .playItem h3 {
    font-size: 1.75rem;
  }

  .mainExample .greenContainer {
    flex-wrap: wrap;
  }
}


@media (max-width: 750px) {
  .mainExample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main>.greenContainer .instructions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .mainExample {
    align-items: center;
  }

  .mainExample .greenContainer {
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    gap: 1rem;
  }

  .play {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .playItem>div {
    height: 6rem;
  }

  .mainExample a,
  .mainExample button {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary button.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .page {
    padding: 1rem;
    padding-top: 0;
  }
}