.page {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 20px 1fr 20px; */
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  /* padding: 80px; */
  /* gap: 64px; */
  color: #fefefe;
  background-color: var(--darker-green);
}

.main {
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 1000px;
  gap: 0.5rem;
}

.page p {
  text-align: justify;
  text-indent: 2em;
}

.page ul {
  list-style-type: none;
  padding-left: 2em;
}

.page ol {
  padding-left: 2em;
}

.page ul p,
.page ol p {
  text-indent: 0;
}

.page p.noIdent {
  text-indent: 0;
}