.pointsDisplay {
  display: flex;
  flex-direction: row;

  border-radius: 2rem;
  padding: 0 1rem;
  background-color: var(--green);
  height: calc(40px + 0.25rem);
  gap: 0.3em;
}

.numberDisplay h3 {
  display: inline;
  font-size: 1.25em;
}