.header {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid var(--green);

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 999;
  gap: 0.5rem;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header>div {
  flex: 1;
}

.header h1 {
  padding-left: 0.3rem;
  font-size: 2.25em;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.header .logo {
  justify-content: flex-start;
  display: flex;
}

.header .logo,
.cleanButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.green {
  border-radius: 2em;
  padding: 0 1rem;
  background-color: var(--green);
  min-height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}


@media (max-width: 1000px) {
  .header h1 {
    font-size: 1.8em;

    display: flex;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .header {
    flex-wrap: wrap;
    /* height: 130px; */
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;
  }

  .header>div {
    flex: 0;
  }

  .header .rounds {
    padding-left: 9.5rem;
    flex: 0;
  }
}

@media (max-width: 710px) {
  .header .rounds {
    padding-left: 2rem;
  }
}

@media (max-width: 700px) {
  .header .rounds {
    padding-left: 0rem;
  }
}

@media (max-width: 550px) {
  .header .rounds {
    padding-right: 3rem;
    flex: 0
  }
}

@media (max-width: 520px) {
  .header {
    /* height: 180px; */
  }

  .logo{
    width: 100%;
  }
}

